<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Title is Here">
    <listeners>
        <listener class-name="uz.tbcBank.Helpers.Listener"/>
    </listeners>
    <test name="Story or Category title/description">
        <classes>
            <class name="uz.tbcBank.test.teamName.simpleModule.LoginTest"/>
        </classes>
    </test>
</suite>
